.CatalogPage {
    display: flex;
    padding: 0 64px;
    gap: 64px;
    padding-top: 48px;
}

.toolbar {
    display: flex;
    flex-direction: column;
    color: #101828;

    p {
        color: #475467;
    }
}

.searchResultList {
    display: flex;
}