.itemContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    border: 1px solid #dadde1;
    border-radius: 20px;
    padding: 24px;
    width: 888px;
    height: 368px;
}

.itemContainer:first-child .rating {
    text-decoration: none;
}

.itemImageContainer {
    border-radius: 10px;
    width: 292px;
    height: 320px;
    overflow: hidden;
}

.itemImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.itemInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 524px;
    height: 320px;
}

.itemInfoWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
}

.itemHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

}

.priceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
}

.itemHeaderContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 524px;
}

.itemSubHeader {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #475467;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 510px;
    flex-grow: 0;
}

.price {
    font-weight: 600;
    font-size: 24px;
    color: #101828;
}

.favoritesButton {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    width: 26px;
    height: 24px;
    border: none;
    cursor: pointer;
    background-color: transparent;

    svg {
        width: 24px;
        height: 24px;
    }
}

.favoritesButtonActive {
    svg {
        stroke: #e44848;
    }
}

.rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    text-decoration: underline;

    svg {
        width: 16px;
        height: 16px;
        fill: #ffc531;
    }
}



.location {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;

    svg {
        width: 16px;
        height: 16px;
    }

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #101828;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #101828;

    border-radius: 100px;
    padding: 12px 18px;
    height: 48px;
    background: #f2f4f7;
    mix-blend-mode: multiply;

    svg {
        width: 20px;
        height: 20px;
    }
}

.itemFeatures {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

.itemName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 340px;
}