.selectBox {

    width: 360px;
    height: 56px;
}

.mapIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 2;
    left: 20px;
    bottom: 16px;
}

.mapIcon svg {
    width: 20px;
    height: 20px;
}

.locationContainer {
    position: relative;
    margin-bottom: 40px;
}

.locationContainer p {
    color: #6c717b;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}